device-tagging-logicapp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "MDE-ActiveDevice-Tagger",
      "metadata": {
        "description": "Name of the Logic App"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Location for the Logic App"
      }
    },
    "tenantId": {
      "type": "string",
      "defaultValue": "[subscription().tenantId]",
      "metadata": {
        "description": "Azure AD Tenant ID"
      }
    },
    "clientId": {
      "type": "string",
      "metadata": {
        "description": "App Registration Client ID with Machine.ReadWrite.All permission"
      }
    },
    "clientSecret": {
      "type": "secureString",
      "metadata": {
        "description": "App Registration Client Secret"
      }
    },
    "approvalEmail": {
      "type": "string",
      "metadata": {
        "description": "Email address to receive the tagging report and approval request"
      }
    },
    "recurrenceInterval": {
      "type": "int",
      "defaultValue": 1,
      "metadata": {
        "description": "How often the Logic App runs"
      }
    },
    "recurrenceFrequency": {
      "type": "string",
      "defaultValue": "Week",
      "allowedValues": [
        "Month",
        "Week",
        "Day",
        "Hour"
      ],
      "metadata": {
        "description": "Frequency unit for recurrence"
      }
    },
    "activeThresholdDays": {
      "type": "int",
      "defaultValue": 7,
      "metadata": {
        "description": "Devices seen within this many days are considered active"
      }
    }
  },
  "variables": {
    "tagName": "ActiveDevice",
    "o365ConnectionName": "[concat(parameters('logicAppName'), '-office365')]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('o365ConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'office365')]"
        },
        "displayName": "Office 365 Outlook - MDE Tagger"
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('o365ConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            },
            "TenantID": {
              "type": "String"
            },
            "ClientID": {
              "type": "String"
            },
            "Secret": {
              "type": "SecureString"
            },
            "ActiveThresholdDays": {
              "type": "Int"
            },
            "TagName": {
              "type": "String"
            },
            "ApprovalEmail": {
              "type": "String"
            },
            "RecurrenceInterval": {
              "type": "Int"
            },
            "RecurrenceFrequency": {
              "type": "String"
            }
          },
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "interval": "@parameters('RecurrenceInterval')",
                "frequency": "@parameters('RecurrenceFrequency')"
              }
            }
          },
          "actions": {
            "Query_Active_Devices": {
              "type": "Http",
              "inputs": {
                "uri": "https://api.security.microsoft.com/api/advancedhunting/run",
                "method": "POST",
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": {
                  "Query": "DeviceInfo | where Timestamp > ago(@{parameters('ActiveThresholdDays')}d) | summarize arg_max(Timestamp, *) by DeviceId | where SensorHealthState == 'Active' | project DeviceId, DeviceName, OSPlatform, LastSeen = Timestamp"
                },
                "authentication": {
                  "type": "ActiveDirectoryOAuth",
                  "authority": "",
                  "tenant": "@{parameters('TenantID')}",
                  "audience": "https://api.security.microsoft.com",
                  "clientId": "@{parameters('ClientID')}",
                  "secret": "@{parameters('Secret')}"
                }
              },
              "runAfter": {}
            },
            "Query_Currently_Tagged_Devices": {
              "type": "Http",
              "inputs": {
                "uri": "https://api.security.microsoft.com/api/advancedhunting/run",
                "method": "POST",
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": {
                  "Query": "DeviceInfo | where Timestamp > ago(90d) | summarize arg_max(Timestamp, *) by DeviceId | where DeviceManualTags has '@{parameters('TagName')}' | project DeviceId, DeviceName, OSPlatform, LastSeen = Timestamp"
                },
                "authentication": {
                  "type": "ActiveDirectoryOAuth",
                  "authority": "",
                  "tenant": "@{parameters('TenantID')}",
                  "audience": "https://api.security.microsoft.com",
                  "clientId": "@{parameters('ClientID')}",
                  "secret": "@{parameters('Secret')}"
                }
              },
              "runAfter": {}
            },
            "Parse_Active_Devices": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Query_Active_Devices')?['Results']",
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "DeviceId": { "type": "string" },
                      "DeviceName": { "type": "string" },
                      "OSPlatform": { "type": "string" },
                      "LastSeen": { "type": "string" }
                    }
                  }
                }
              },
              "runAfter": {
                "Query_Active_Devices": [ "Succeeded" ]
              }
            },
            "Parse_Tagged_Devices": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Query_Currently_Tagged_Devices')?['Results']",
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "DeviceId": { "type": "string" },
                      "DeviceName": { "type": "string" },
                      "OSPlatform": { "type": "string" },
                      "LastSeen": { "type": "string" }
                    }
                  }
                }
              },
              "runAfter": {
                "Query_Currently_Tagged_Devices": [ "Succeeded" ]
              }
            },
            "Build_Active_Device_IDs": {
              "type": "Select",
              "inputs": {
                "from": "@body('Parse_Active_Devices')",
                "select": "@item()?['DeviceId']"
              },
              "runAfter": {
                "Parse_Active_Devices": [ "Succeeded" ]
              }
            },
            "Build_Tagged_Device_IDs": {
              "type": "Select",
              "inputs": {
                "from": "@body('Parse_Tagged_Devices')",
                "select": "@item()?['DeviceId']"
              },
              "runAfter": {
                "Parse_Tagged_Devices": [ "Succeeded" ]
              }
            },
            "Create_Active_Devices_Table": {
              "type": "Table",
              "inputs": {
                "from": "@body('Parse_Active_Devices')",
                "format": "HTML",
                "columns": [
                  { "header": "Device Name", "value": "@item()?['DeviceName']" },
                  { "header": "OS", "value": "@item()?['OSPlatform']" },
                  { "header": "Last Seen", "value": "@item()?['LastSeen']" },
                  { "header": "Device ID", "value": "@item()?['DeviceId']" }
                ]
              },
              "runAfter": {
                "Parse_Active_Devices": [ "Succeeded" ]
              }
            },
            "Create_Tagged_Devices_Table": {
              "type": "Table",
              "inputs": {
                "from": "@body('Parse_Tagged_Devices')",
                "format": "HTML",
                "columns": [
                  { "header": "Device Name", "value": "@item()?['DeviceName']" },
                  { "header": "OS", "value": "@item()?['OSPlatform']" },
                  { "header": "Last Seen", "value": "@item()?['LastSeen']" },
                  { "header": "Device ID", "value": "@item()?['DeviceId']" }
                ]
              },
              "runAfter": {
                "Parse_Tagged_Devices": [ "Succeeded" ]
              }
            },
            "Build_Report": {
              "type": "Compose",
              "inputs": "<html><head><style>body{font-family:Segoe UI,sans-serif;margin:20px}table{border-collapse:collapse;width:100%;margin:10px 0}th,td{border:1px solid #ddd;padding:8px;text-align:left}th{background-color:#0078d4;color:white}tr:nth-child(even){background-color:#f2f2f2}.summary{background:#f0f8ff;padding:15px;border-radius:8px;margin:10px 0}.badge{display:inline-block;padding:4px 12px;border-radius:12px;color:white;font-weight:bold}.green{background:#107c10}.red{background:#d13438}.blue{background:#0078d4}</style></head><body><h1>🛡️ MDE Device Tagging Report</h1><div class='summary'><p><strong>Tag name:</strong> <span class='badge blue'>@{parameters('TagName')}</span></p><p><strong>Active threshold:</strong> @{parameters('ActiveThresholdDays')} days</p><p><strong>Active devices:</strong> <span class='badge green'>@{length(body('Parse_Active_Devices'))}</span></p><p><strong>Currently tagged:</strong> <span class='badge blue'>@{length(body('Parse_Tagged_Devices'))}</span></p></div><h2>⚠️ Devices to be UNTAGGED (no longer active)</h2><p>These devices have the <strong>@{parameters('TagName')}</strong> tag but have NOT been seen in the last @{parameters('ActiveThresholdDays')} days. Approving will <strong>remove</strong> the tag from these devices.</p>@{body('Create_Tagged_Devices_Table')}<hr/><h2>✅ Active Devices (will be tagged)</h2><p>These devices are active and healthy. Approving will <strong>add</strong> the tag to any that don't already have it.</p>@{body('Create_Active_Devices_Table')}<hr/><p><em>Click <strong>Approve</strong> to apply tag changes, or <strong>Reject</strong> to skip this cycle.</em></p></body></html>",
              "runAfter": {
                "Create_Active_Devices_Table": [ "Succeeded" ],
                "Create_Tagged_Devices_Table": [ "Succeeded" ]
              }
            },
            "Send_Approval_Email": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['office365']['connectionId']"
                  }
                },
                "body": {
                  "NotificationUrl": "@{listCallbackUrl()}",
                  "Message": {
                    "To": "@parameters('ApprovalEmail')",
                    "Subject": "MDE Device Tagging Report — @{length(body('Parse_Active_Devices'))} active, @{length(body('Parse_Tagged_Devices'))} tagged — Approval Required",
                    "Body": "@{outputs('Build_Report')}",
                    "Importance": "Normal",
                    "Options": "Approve, Reject",
                    "IsAlert": true
                  }
                },
                "path": "/approvalmail/$subscriptions"
              },
              "runAfter": {
                "Build_Report": [ "Succeeded" ]
              }
            },
            "Check_Approval": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@body('Send_Approval_Email')?['SelectedOption']",
                      "Approve"
                    ]
                  }
                ]
              },
              "actions": {
                "Tag_Active_Untagged_Devices": {
                  "type": "Foreach",
                  "foreach": "@body('Parse_Active_Devices')",
                  "actions": {
                    "Check_If_Already_Tagged": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "contains": [
                                "@body('Build_Tagged_Device_IDs')",
                                "@items('Tag_Active_Untagged_Devices')?['DeviceId']"
                              ]
                            }
                          }
                        ]
                      },
                      "actions": {
                        "Add_Tag": {
                          "type": "Http",
                          "inputs": {
                            "uri": "https://api.security.microsoft.com/api/machines/@{items('Tag_Active_Untagged_Devices')?['DeviceId']}/tags",
                            "method": "POST",
                            "headers": {
                              "Content-Type": "application/json"
                            },
                            "body": {
                              "Value": "@{parameters('TagName')}",
                              "Action": "Add"
                            },
                            "authentication": {
                              "type": "ActiveDirectoryOAuth",
                              "authority": "",
                              "tenant": "@{parameters('TenantID')}",
                              "audience": "https://api.security.microsoft.com",
                              "clientId": "@{parameters('ClientID')}",
                              "secret": "@{parameters('Secret')}"
                            }
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      }
                    }
                  },
                  "runAfter": {},
                  "runtimeConfiguration": {
                    "concurrency": {
                      "repetitions": 5
                    }
                  }
                },
                "Untag_Inactive_Devices": {
                  "type": "Foreach",
                  "foreach": "@body('Parse_Tagged_Devices')",
                  "actions": {
                    "Check_If_Still_Active": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "contains": [
                                "@body('Build_Active_Device_IDs')",
                                "@items('Untag_Inactive_Devices')?['DeviceId']"
                              ]
                            }
                          }
                        ]
                      },
                      "actions": {
                        "Remove_Tag": {
                          "type": "Http",
                          "inputs": {
                            "uri": "https://api.security.microsoft.com/api/machines/@{items('Untag_Inactive_Devices')?['DeviceId']}/tags",
                            "method": "POST",
                            "headers": {
                              "Content-Type": "application/json"
                            },
                            "body": {
                              "Value": "@{parameters('TagName')}",
                              "Action": "Remove"
                            },
                            "authentication": {
                              "type": "ActiveDirectoryOAuth",
                              "authority": "",
                              "tenant": "@{parameters('TenantID')}",
                              "audience": "https://api.security.microsoft.com",
                              "clientId": "@{parameters('ClientID')}",
                              "secret": "@{parameters('Secret')}"
                            }
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      }
                    }
                  },
                  "runAfter": {},
                  "runtimeConfiguration": {
                    "concurrency": {
                      "repetitions": 5
                    }
                  }
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "Send_Approval_Email": [ "Succeeded" ],
                "Build_Active_Device_IDs": [ "Succeeded" ],
                "Build_Tagged_Device_IDs": [ "Succeeded" ]
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "office365": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('o365ConnectionName'))]",
                "connectionName": "[variables('o365ConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'office365')]"
              }
            }
          },
          "TenantID": {
            "value": "[parameters('tenantId')]"
          },
          "ClientID": {
            "value": "[parameters('clientId')]"
          },
          "Secret": {
            "value": "[parameters('clientSecret')]"
          },
          "ActiveThresholdDays": {
            "value": "[parameters('activeThresholdDays')]"
          },
          "TagName": {
            "value": "[variables('tagName')]"
          },
          "ApprovalEmail": {
            "value": "[parameters('approvalEmail')]"
          },
          "RecurrenceInterval": {
            "value": "[parameters('recurrenceInterval')]"
          },
          "RecurrenceFrequency": {
            "value": "[parameters('recurrenceFrequency')]"
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppName": {
      "type": "string",
      "value": "[parameters('logicAppName')]"
    },
    "postDeploymentNote": {
      "type": "string",
      "value": "IMPORTANT: After deployment, go to the Logic App → API connections → authorize the Office 365 Outlook connection with your account."
    }
  }
}